/*
Commentaire en CSS
em{
    color: #f8631f;
}
#Je\ vous\ présente\ la\ Côte\ d\'ivoire, #Pays\ d\'hospitalité{
    font-weight: bold;
    color: #f8631f;
}
*/
p{
    font-size: 18px;
}


.orange {
    color: #f8631f;
}

.bold{
    font-weight: bold;
}
header{
    background-color: bisque;
    text-align: center;
}

h2, h3{
    font-family: "Gill Sans", sans-serif;
    color: black;
    font-size: 60px;
}
body{
    background: beige;
    font-family: "Times New Roman", Times, serif;

}


section{
    display: block;
    background: lightsalmon;
    border-radius: 10px;
}

footer{
    background-color: black;
    color: beige;
    font-size: 14px;
    text-align: center;
    padding: 10px;
}

/*
tableau
*/
table{
    border-collapse: collapse;
    line-height: 1.5em;
}

thead{
    border-bottom: medium groove #110d6d;
    text-align: center;
    line-height: 5em;
}
td,th{
    border-width: thin;
    border-style: groove;
}
tbody tr:nth-child(obb){
    background-color: lightgray;
}


/*tbody*/ tr:hover{
    background-color: darkblue;
    color: white;
    font-weight: bolder;
}

section p:first-of-type::first-letter{
    font-size: 5em;
    color: #30b20b;
}