/*
Commentaire en CSS
em{
    color: #f8631f;
}
#Je\ vous\ présente\ la\ Côte\ d\'ivoire, #Pays\ d\'hospitalité{
    font-weight: bold;
    color: #f8631f;
}
*/

.orange {
    color: #f8631f;
}

.bold{
    font-weight: bold;
}
header{
    background-color: bisque;
    text-align: center;
}

h2, h3{
    font-family: "Gill Sans", sans-serif;
    color: black;
    font-size: 55px;
}
body{
    background: beige;
    font-family: "Times New Roman", Times, serif;

}


section{
    display: block;
    background: lightsalmon;
    border-radius: 10px;
}

footer{
    background-color: black;
    color: beige;
    font-size: 14px;
    text-align: center;
    padding: 10px;
}

/*
menu
*/
